
 
h1 {
    text-align: center;
    margin: 20px auto; 
    width: 80%;       
    padding: 10px;
    background-color: rgba(109, 67, 67, 0.2);
    border-radius: 10px;
    border: 2px dashed #558eb2; 
}

.calculator {
    width: 300px;
    margin: 50px auto;
    background-color: #7ab8e0; 
    padding: 15px;
    border-radius: 25px; 
    border: 3px solid #558eb2; 
    box-shadow: 8px 8px 0px rgba(0,0,0,0.2); }




#display {
    width: 90%;
    height: 60px;
    font-size: 28px;
    text-align: right;
    margin-bottom: 20px;
    background-color: #e6dab7; 
    border: 4px inset #0c0c0a; 
    border-radius: 10px;
    padding: 5px 10px;
    font-family: 'verdana', sans-serif; 
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px; 
}




button {
    padding: 18px 5px;
    font-size: 18px;
    border: 2px solid rgba(0,0,0,0.1);
    border-radius: 12px; 
    cursor: pointer;
    font-weight: bold;
    color: #000000;
    
    box-shadow: 0 5px 0 #333; 
    transition: transform 0.1s;
}

button:active {
    transform: translateY(3px); 
    box-shadow: 0 2px 0 #333;
}


button:nth-child(1) { background-color: #3b82f6; } 
button:nth-child(2) { background-color: #fbbf24; } 
button:nth-child(3) { background-color: #34d399; } 
button:nth-child(4) { background-color: #94a3b8; } 

button:nth-child(5), button:nth-child(6), button:nth-child(7) { background-color: #60a5fa; }
button:nth-child(8) { background-color: #fb923c; } 

button:nth-child(9), button:nth-child(10), button:nth-child(11) { background-color: #3b82f6; }
button:nth-child(12) { background-color: #f87171; }

button:nth-child(13), button:nth-child(14), button:nth-child(15) { background-color: #60a5fa; }
button:nth-child(16) { background-color: #4ade80; } 

.zero { background-color: #2dd4bf; }